<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather Stations Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="index.js"></script> -->
</head>
<body>
    <h1>Weather Stations Control Panel</h1>
    {{#if (wstations)  }}
    <ul>
        {{#each this}}     
            {{#wstations}}
             <li>Station ID: {{id}}</li>
             <li>Station status: {{status}}</li>
             <li>Temperature: {{temp}}C</li>
             <li>Humidity: {{hum}}%</li>   
            {{/wstations}}          
        {{/each}}
    </ul>
    {{/if}}
</body>
</html>